@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: inherit;
}

.main-container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 20px;
}
main {
  max-width: 1350px;
  margin: 0 auto;
}
